# Godot 4+ specific ignores
.godot/
/android/
*.translation
*.import.bak

# GDExtension build artifacts
gdextension/addons/
gdextension/godot-cpp/bin/
gdextension/.sconsign.dblite
*.obj
*.obj.import
*.o
*.os
*.exp
*.lib
addons/*/bin/~*.dll
